html {
	font-family: "Poppins";
}
body {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #e3e3e3;
	position: relative;
}
ul li {
	display: inline-block;
}
ul li a {
	color: #292929;
	text-decoration: none;
	padding: 15px;
	display: block;
}
ul li:hover {
	background-color: lightgray;
}
ul ul {
	position: absolute;
	min-width: 200px;
	background-color: lightgray;
	display: none;
}
ul ul li {
	display: block;
	background-color: #e3e3e3;
}
