body{
    margin: 0;
}
img{
    max-width: 100%;
}
.tlacitko, .objevujici{
    position: relative;
}
.skryt{
    display: none;
}
.vpravo{
    text-align: right;
}
menu > ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.chyba{
    border: 1px solid red;
}
#modalni-okno{
    border: 1px solid black;
    background: white;
    padding: 12px;
    position: fixed;
    top: 10px;
    left: calc(35vw - 13px);
    display: none;
    width: 30vw;
    max-height: 80vh;
    overflow: auto;
}
#modalni-okno.cervena{
    border-color: red;
}
#modalni-okno h2{
    text-align: center;
    margin: 0;
}
.objevujici{
    background: #ccc;
    margin-bottom: 12px;
    margin-left: 12px;
}
.cist-vice, .cist-vice-aktivni{
    display: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
/*CSS animace*/
#animace ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#animace li{
    width: 50%;
    position: absolute;
    opacity: 0;
}
#animace li:nth-of-type(1){
    opacity: 1;
}
/*CSS animace posunem*/
#animace-posun, #animace-posun ul , #animace-posun li{
    height: 300px;
    overflow: hidden;
}
#animace-posun img{
    max-height: 100%;
}
#animace-posun ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
   width: 200%;
   position: relative;
}

